.main-head{
  background-color: #192734;
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 0;
  background-size: contain;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  padding: 20px;
  height: min-content;
  padding-top: 0px;
  padding-bottom: 0px;
}


.lgn-btn{
  background-color: orange;
  align-items: center;
  font-size: large;
  display: flex;
  text-align: center;
  border-radius: 2rem;
  height: 3rem;
  width: 6.5rem;
}
.btn-text{
    margin-left: 14px;
}
.active-cont{
    background-color: orange;
    width: 16%;
    position: absolute;
    height: 57px;
    left: 39.3rem;
    border-radius: 28px;
}
.mid-btn.active{
    color: black;
    background-color: orange;
    height: 53px; //7vh
    border-radius: 32px;
    width: 15vw;
    /* padding-left: 0; */
    transform: translateX(-9px);
}

.mid-btn{
    color: white;
    width: 50%;
}

.title {
    aspect-ratio: 1;
    max-height: 125px;
    cursor: pointer;
  }

    ::ng-deep .mat-snack-bar-container{
        text-align: justify !important;
        width: 70% !important;
        max-width: 75% !important;
        align-self: center !important;
        margin: auto !important;
    }
  .abt-btn{
    color: white;
    width: 15vw;
    transform: translateX(8px);
    height: 58px;
    border-radius: 28px;
  }
  .u_name{
    background-color: #22303C;
    align-items: center;
    font-size: large;
    display: flex;
    padding: 10px 20px;
    height: 37px;
    width: 25%;
    margin-left: -16.5%;
    transform: translateX(247px);
    margin-top: 20px;
    border-radius: 23px;
    color: white;
  }

  .mid-cont{
    background-color: #22303C;
    padding: 10px;
    width: 25%;
    border-radius: 2rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }