/* You can add global styles to this file, and also import other style files */

.body{
    padding: 0px;
    margin: 0px;
    background-color: #192734;
    overflow-y: hidden;
}


html, body { height: 100%;     background-color: #192734;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
